/* Desmond Penn Jr */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--fonts: Montserrat, Molle, serif; 
	font-size: 16px;
    /* color palette from https://docs.google.com/document/d/1RoiMZyPaz3tvXnNCc2WtCYxWye5tR5u8fvko5yRoXyw/edit?tab=t.0#heading=h.vym9xnbew11x */
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9b26b0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
}

/* -----SKIP LINK STYLES----- */

#skip {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#skip:focus {
	position: static;
	width: auto;
	height: auto;
}


/* -----BODY STYLES----- */

body {
	font-family: "Montserrat", serif;
	font-weight: 400;
	font-style: normal;
}

/* -----HEADER STYLES----- */

header {
	background: linear-gradient(to bottom, #55BCD5 0%, #ffffff 100%);
	padding: 10px;
}

.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* -----HEADING STYLES----- */

h1 {
	font-family: "Molle", serif;
	font-size: 3rem;
	text-align: left;
	padding: 15px 0px 0px 15px;
}

h2 {
	font-family: "Molle", serif;
	font-size: 2rem;
	text-align: left;
	padding: 15px 0px 15px 15px;
}

h3 {
	font-family: "Molle", serif;
	font-size: 2rem;
	text-align: left;
	padding: 15px 0px 0px 15px;
	margin-bottom: 20px;
}

/* -----MENU STYLES----- */

#menu-toggle {
	display: block;
	position: absolute;
	top: 50px;
	right: 50px;
	z-index: 1;
}

#menu-toggle label {
	background-color: var(--yellow);
	padding: 25px 32px;
	text-align: center;
	position: absolute;
	width: 90px;
}




/* -----LINE STYLES----- */

p {
	line-height: 25px;
	padding:  0px 15px;
}

/* -----SECTION STYLES----- */

#plan {
	background-color: var(--yellow);
	padding: 24px 0px;
}

#plan section {
	background: var(--teal);
	padding: 20px;
	border-radius: 8px;
	border-color: var(--white);
	border: 4px solid white;
	display: grid;
	justify-content: center;
	gap: 20px;
}

#plan div {
	display: grid;
	gap: 24px;
	border-radius: 8px;
	margin-left: 20px;
	margin-right: 20px;
}

#plan section h4 {
	font-family: 'Montserrat';
	font-size: 30px;
	font-weight: 600;
	text-align: center;
}

#testimonials section {
	justify-items: center;
	text-align: center;
	padding: 0px 64px 10px 64px;
}

#testimonials section h4 {
	font-family: 'Montserrat';
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	margin-top: 10px;
}

#testimonials section p {
	font-size: 20px;
}

#testimonials section q {
	font-size: 20px;
	font-style: italic;
}

#about {
	background: var(--blue);
	padding: 24px;
}

#about div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	gap: 20px;
}

#about img {
	width: 100px;
	height: 140px;
}

#about section h4 {
	font-family: 'Montserrat';
	font-size: 30px;
	font-weight: 400;
}

#about section p {
	font-family: 'Montserrat';
	font-size: 15px;
	font-weight: 100;
}

#contact span {
	font-family: 'Montserrat';
	font-size: 20px;
	font-style: italic;
	font-weight: 100;
}

#contact {
	padding: 32px;
}

/* -----IMAGE STYLES----- */

#img-grid {
	display: grid;
	gap: 24px;
	margin-top: 10px;
	margin-bottom: 10px;
}

picture img {
	width: 100%;
}

#img-grid img {
	width: 100%;
}

/* -----FORM STYLES----- */

form label {
	display: inline-block;
	width: 100%;
	font-family: 'Montserrat';
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 4px;
	}

form fieldset {
	dispaly: grid;
	width: 100%;
}

form input {
	width: 96%;
	height: 50px;
	border: 4px solid var(--purple);
	font-size: 20px;
	font-family: 'Montserrat';
	padding: 10px;
	margin-bottom: 20px;
}

form legend {
	font-family: 'Montserrat';
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 4px;
}

input[type=submit] {
	background: var(--purple);
	color: var(--white);
}

#destination {
	width: 100%;
	height: 70px;
	border: 4px solid var(--purple);
	font-size: 20px;
	font-family: 'Montserrat';
	padding: 10px;
	margin-bottom: 20px;
}

#travelTime {
	width: 100%;
	height: 70px;
	border: 4px solid var(--purple);
	font-size: 20px;
	font-family: 'Montserrat';
	padding: 10px;
	margin-bottom: 20px;
}

input[type=radio] {
	width: 12%;
}

/* ----- MEDIUM SCREEN STYLES ----- */

@media screen and (min-width: 750px) {
	ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 24px;
		width: 125%;
	}

	li {
		background-color: var(--white);
		padding: 24px;
		text-align: center;
	}

	#img-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#intro {
		padding: 40px;
	}

	#plan {
		padding: 40px;
	}

	#testimonials {
		padding: 40px;
	}

	header {
		display: grid;
		grid-template-columns: 200px 400px;
		grid-template-rows: 70px;
		padding: 40px;
	}

	#menu-toggle {
		display: grid;
	}


	p {
		display: grid;
		grid-column: 2 / 2;
	}

	.active {
		background-color: var(--yellow);
		padding: 24px;
		text-align: center;
	}

	a {
		text-decoration: none;
		color: var(--black);
		font-weight: 600;
	}

	#plan div {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 24px;
		border-radius: 8px;
		margin-left: 20px;
		margin-right: 20px;
	}

	#testimonials div {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 24px;
		border-radius: 8px;
		margin-left: 20px;
		margin-right: 20px;
	}

	#testimonials section {
		justify-items: center;
		text-align: center;
		padding: 0px 64px 10px 64px;
	}

	#about div {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		text-align: center;
		gap: 20px;
		align-items: self-end;
	}

	#about img {
		width: 100px;
		height: 140px;
	}

	picture {
		display: grid;
		grid-column: 1 / -1;
	}

	input[type=submit] {
		background: var(--purple);
		color: var(--white);
		width: 400px;
	}
}


